<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>

<body>
    <form action="/login" method="post" class="text-center border border-medium p-5">
        <label class="h5 mb-4">Username:</label>
        <input type="text" name="username" placeholder="username" class="form-control mb-4">
        <label class="h5 mb-4">Password:</label>
        <input type="text" name="password" placeholder="password" class="form-control mb-4">
        <button type="submit">Login</button>
    </form>
</body>

</html>