<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Pantry</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
        type="text/css">

    <!-- Plugin CSS -->
    <link href="vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/freelancer.min.css" rel="stylesheet">

    <!-- Link to my style sheet -->
    <link href="mycss/main.css" rel="stylesheet">

</head>

<body id="page-top">

    <% include ./common/nav.ejs%>

    <!-- Add Food -->
    <section class="addFood padding-top" id="addFood">
        <div class="container">
            <h2 class="text-center text-uppercase text-secondary mb-0">Heading</h2>
            <hr class="star-dark mb-5">

            <% if (typeof message !== 'undefined') { %>
            <div class="warning border border-nedium h5"><%= message %> </div>
            <% } %>
            <form action="/signup" method="post" class="text-center border border-medium p-5">
                <label class="h5 mb-4">First Name</label>
                <input type="text" name="firstname" placeholder="firstname" class="form-control mb-4">
                <label class="h5 mb-4">Last Name</label>
                <input type="text" name="lastname" placeholder="lastname" class="form-control mb-4">
                <label class="h5 mb-4">Email</label>
                <input type="email" name="email" placeholder="email" class="form-control mb-4">
                <label class="h5 mb-4">Username</label>
                <input type="text" name="username" placeholder="username" class="form-control mb-4">
                <label class="h5 mb-4">Password</label>
                <input type="password" id="password" name="password" placeholder="password" class="form-control mb-4">
                <div id="passwordMatch" class="red"></div>
                <label class="h5 mb-4">Confirm Password</label>
                <input type="password" id="passwordConfirm" name="passwordConfirm" placeholder="passwordconfirm" class="form-control mb-4">
                <button type="submit" class="btn btn-primary">Login</button>
            </form>

            <!-- *************** ADD CONTENT HERE ***************-->

        </div>
    </section>

    <% include ./common/footer.ejs%>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/freelancer.min.js"></script>

    <script>
        $("#passwordConfirm").keyup(function() {
            // console.log("getting here");
            // let pass = document.getElementById("password");
            let pass = $("#password")[0].value
            let passConfirm = $("#passwordConfirm")[0].value;
            // if (pass.v)
            // console.log(pass)
            // console.log(passConfirm)
            if (passConfirm != pass) {
                document.getElementById("passwordMatch").innerHTML = "Passwords do not match"
            } else if (passConfirm == pass) {
                document.getElementById("passwordMatch").innerHTML = "";
            }
        })
    </script>

</body>

</html>