/*************************************************          ALL SCREENS         *************************************************/
.food-content {
    .row:nth-child(even) {
        background-color: #f2f2f2;
    }

    .quantity {
        display: flex;
        flex-flow: column;

        h5 {
            margin-right: 10px;
        }

        div:first-child {
            padding-left: 5px;
        }

        div {
            margin-left: 20px;
            display: flex;

            button {
                font-size: 24px;
                line-height: 25px;
                font-weight: bold;
                width: 42px;
                height: 42px;

                &:first-child {
                    margin-right: 10px;
                }
            }
        }
    }
}

.food-buttons {
    div {
        width: 150px;

        .delete-button {
            margin-left: 10px;
        }

        padding: 15px 0px;
    }
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    flex: 0 0 100%;

    h4,
    h5,
    p {
        margin-bottom: 0px;
    }
}

.width-100 {
    width: 100%;
}

.hide-small {
    display: none;
}

.warning {
    color: red;
    padding: 15px;
}

@media screen and (min-width: 756px) {
    .food-buttons {
        div {
            float: right
        }
    }

    .quantity {
        flex-flow: row nowrap !important;
    }

    .flex-row {
        max-width: 66.6667%;
        flex: 0 0 66.6667%;
        height: 70px;
    }

    .width-100 {
        display: none;
    }

    .hide-small {
        display: initial;
    }
}

/*************************************************   LARGE SCREEN MEDIA QUERY   *************************************************/
@media screen and (min-width: 992px) {
    .padding-top {
        padding-top: 150px;
    }

    .food-content {
        .food-name-expiration {
            display: flex;
            width: 30vw;
            justify-content: space-between;
        }
    }
}