/*************************************************          ALL SCREENS         *************************************************/
.link-indent {
  padding-left: 30px;
}
.link-indent a.py-3 {
  padding-top: 0px !important;
}

.padding-top {
  padding: 5.5rem 0;
}

.cookie-icon {
  margin-bottom: 20px;
}

#modalRed {
  background-color: #ba4c63;
}

#modalLightBlue {
  background-color: #1fa4b6;
  color: #495057;
}

#modalTan {
  background-color: #ccb2a3;
}

.whatWeDoModalSmall {
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatWeDoModalLarge {
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.food-content .row:nth-child(even) {
  background-color: #f2f2f2;
}
.food-content .food-name-expiration a {
  color: black;
}
.food-content .expiring p {
  color: red;
}
.food-content .quantity {
  display: flex;
  flex-flow: column;
}
.food-content .quantity h5 {
  margin-right: 10px;
}
.food-content .quantity div:first-child {
  padding-left: 5px;
}
.food-content .quantity div {
  margin-left: 20px;
  display: flex;
  justify-content: flex-end;
}
.food-content .quantity div button {
  font-size: 24px;
  line-height: 25px;
  font-weight: bold;
  width: 42px;
  height: 42px;
}
.food-content .quantity div button:first-child {
  margin-right: 10px;
}

.color-primary {
  color: #18bc9c;
}

.color-secondary {
  color: #2e3c50;
}

.all-recipes-content p {
  margin-left: 20px;
  color: gray;
}

#recipe-content {
  font-size: 1.25em;
}

#ingredient-list {
  margin-top: 30px;
  list-style-type: none;
  padding-left: 0;
}
#ingredient-list li {
  height: 50px;
  padding-top: 10px;
  padding-left: 15px;
  border-radius: 7px;
}
#ingredient-list li:nth-child(even) {
  background-color: #f2f2f2;
}

#instruction-list {
  list-style-type: none;
  padding-left: 0;
}
#instruction-list li {
  display: grid;
  grid-template-columns: 25% 75%;
  margin-top: 10px;
  padding: 15px;
}
#instruction-list li:nth-child(even) {
  background-color: #f2f2f2;
  border-radius: 7px;
}
#instruction-list .instruction-number {
  border-radius: 50%;
  background-color: #18bc9c;
  height: 50px;
  width: 50px;
  color: white;
  text-align: center;
  margin-right: 20px;
  padding-top: 8px;
}
#instruction-list .instruction-text {
  padding-top: 8px;
}

.dir-count-flex {
  display: flex;
}
.dir-count-flex .form-group {
  width: 95%;
}
.dir-count-flex textarea {
  margin-top: 8px;
  resize: none;
  /* Let's get this party started */
  /* Track */
  /* Handle */
}
.dir-count-flex textarea::-webkit-scrollbar {
  width: 12px;
}
.dir-count-flex textarea::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.dir-count-flex textarea::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: gray;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
.dir-count-flex textarea::-webkit-scrollbar-thumb:window-inactive {
  background-color: gray;
}
.dir-count-flex .instruction-number {
  border-radius: 50%;
  background-color: #18bc9c;
  height: 50px;
  width: 58px;
  color: white;
  text-align: center;
  margin-right: 18px;
  margin-top: 10px;
  padding-top: 12px;
}

.add-ingredient {
  padding: 20px;
  padding-bottom: 10px;
  margin-top: 10px;
}

.add-ingredient-direction #ing-heading {
  margin-top: 40px;
}
.add-ingredient-direction h3 {
  margin-bottom: 0;
}
.add-ingredient-direction button {
  margin-top: 20px;
  margin-bottom: 40px;
}

.add-ingredient-quantity {
  display: flex;
  justify-content: space-between;
}

.food-buttons div {
  width: 150px;
  padding: 15px 0px;
}
.food-buttons div .delete-button {
  margin-left: 10px;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  flex: 0 0 100%;
}
.flex-row h4,
.flex-row h5,
.flex-row p {
  margin-bottom: 0px;
}

.all-recipes-content .recipe {
  padding: 20px;
}
.all-recipes-content .recipe:nth-child(even) {
  background-color: #f2f2f2;
}
.all-recipes-content .recipe-flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.all-recipes-content .recipe-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.all-recipes-content .recipe-buttons button {
  margin-left: 10px;
}

#passwordMatch {
  height: 30px;
  width: 250px;
  padding-left: 10px;
  text-align: left;
  position: absolute;
}

.width-100 {
  width: 100%;
}

.hide-small {
  display: none;
}

.show-small {
  display: initial;
}

.hide-sm-md {
  display: none;
}

.show-sm-md {
  display: initial;
}

.warning {
  color: red;
  padding: 15px;
}

.red {
  color: red;
}

.click-underline:active {
  text-decoration: underline;
}

.bold {
  font-weight: bold;
}

hr.star-dark {
  margin-top: 1.5rem;
  margin-bottom: 2rem !important;
}

.hidden {
  display: none;
}

@media screen and (min-width: 536px) {
  .padding-top {
    padding: 6rem 0;
  }

  .whatWeDoModalLarge {
    height: 40vw;
  }

  #ingredient-list {
    display: grid;
    grid-template-columns: 50% 50%;
  }
  #ingredient-list li:nth-child(1), #ingredient-list li:nth-child(4), #ingredient-list li:nth-child(5), #ingredient-list li:nth-child(8), #ingredient-list li:nth-child(9), #ingredient-list li:nth-child(12), #ingredient-list li:nth-child(13), #ingredient-list li:nth-child(16), #ingredient-list li:nth-child(17), #ingredient-list li:nth-child(20) {
    background-color: white;
  }
  #ingredient-list li:nth-child(2), #ingredient-list li:nth-child(3), #ingredient-list li:nth-child(6), #ingredient-list li:nth-child(7), #ingredient-list li:nth-child(10), #ingredient-list li:nth-child(11), #ingredient-list li:nth-child(14), #ingredient-list li:nth-child(15), #ingredient-list li:nth-child(18), #ingredient-list li:nth-child(19) {
    background-color: #f2f2f2;
  }
}
@media screen and (min-width: 756px) {
  .food-buttons div {
    float: right;
  }

  .quantity {
    flex-flow: row nowrap !important;
  }

  .flex-row {
    max-width: 66.6667%;
    flex: 0 0 66.6667%;
    height: 70px;
  }

  .width-100 {
    display: none;
  }

  .hide-small {
    display: initial;
  }

  .show-small {
    display: none;
  }

  .all-recipes-content {
    padding-left: 40px;
    font-size: 1.25em;
  }

  #instruction-list li {
    grid-template-columns: 20% 80%;
  }
  #instruction-list li .instruction-number {
    margin-left: 25px;
  }

  .dir-count-flex .instruction-number {
    width: 52px;
  }
}
/*************************************************   LARGE SCREEN MEDIA QUERY   *************************************************/
@media screen and (min-width: 992px) {
  .padding-top {
    padding-top: 150px;
  }

  .hide-sm-md {
    display: initial;
  }

  .show-sm-md {
    display: none;
  }

  .food-content .food-name-expiration {
    display: flex;
    width: 60%;
    justify-content: space-between;
  }

  #instruction-list li {
    grid-template-columns: 10% 90%;
  }
}
@media screen and (min-width: 1000px) {
  .whatWeDoModalSmall {
    height: 253px;
  }

  .whatWeDoModalLarge {
    height: 30vw;
  }
}

/*# sourceMappingURL=main.css.map */
