/*************************************************          ALL SCREENS         *************************************************/
.food-content {
    .row:nth-child(even) {
        background-color: #f2f2f2;
    }

    .food-name-expiration {
        a {
            color: black;
        }
    }

    .expiring {
        p {
            color: red;
        }
    }

    .quantity {
        display: flex;
        flex-flow: column;

        h5 {
            margin-right: 10px;
        }

        div:first-child {
            padding-left: 5px;
        }

        div {
            margin-left: 20px;
            display: flex;

            button {
                font-size: 24px;
                line-height: 25px;
                font-weight: bold;
                width: 42px;
                height: 42px;

                &:first-child {
                    margin-right: 10px;
                }
            }
        }
    }
}

.color-primary {
    color: #18bc9c;
}

.color-secondary {
    color: #2e3c50;
}

#recipe-content {
    font-size: 1.25em;
}
#ingredient-list {
    margin-top: 30px;
    list-style-type: none;
    padding-left: 0;
    li {
        height: 50px;
        padding-top: 10px;
        padding-left: 15px;
        border-radius: 7px;
        &:nth-child(even) {
            background-color: #f2f2f2;
        }
    }
}

#instruction-list {
    list-style-type: none;
    padding-left: 0;
    li {
        display: grid;
        grid-template-columns: 25% 75%;
        margin-top: 10px;
        padding: 15px;
        &:nth-child(even) {
            background-color: #f2f2f2;
        }
    }
    .instruction-number {
        border-radius: 50%;
        background-color: #18bc9c;
        height: 50px;
        width: 50px;
        color: white;
        text-align: center;
        margin-right: 20px;
        padding-top: 8px;
    }
    .instruction-text {
        padding-top: 8px;
    }
}

.food-buttons {
    div {
        width: 150px;

        .delete-button {
            margin-left: 10px;
        }

        padding: 15px 0px;
    }
}

.flex-row {
    display: flex;
    flex-flow: row nowrap;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    flex: 0 0 100%;

    h4,
    h5,
    p {
        margin-bottom: 0px;
    }
}

.width-100 {
    width: 100%;
}

.hide-small {
    display: none;
}

.show-small {
    display: initial;
}

.warning {
    color: red;
    padding: 15px;
}

@media screen and (min-width: 536px) {
    #ingredient-list {
        display: grid;
        grid-template-columns: 50% 50%;
        li {
            &:nth-child(1), &:nth-child(4), &:nth-child(5), &:nth-child(8), &:nth-child(9), &:nth-child(12), &:nth-child(13), &:nth-child(16), &:nth-child(17), &:nth-child(20) {
                background-color: white;
            }
            &:nth-child(2), &:nth-child(3), &:nth-child(6), &:nth-child(7), &:nth-child(10), &:nth-child(11), &:nth-child(14), &:nth-child(15), &:nth-child(18), &:nth-child(19) {
                background-color: #f2f2f2;
            }
        }
    }
}

@media screen and (min-width: 756px) {
    .food-buttons {
        div {
            float: right
        }
    }

    .quantity {
        flex-flow: row nowrap !important;
    }

    .flex-row {
        max-width: 66.6667%;
        flex: 0 0 66.6667%;
        height: 70px;
    }

    .width-100 {
        display: none;
    }

    .hide-small {
        display: initial;
    }
    .show-small {
        display: none;
    }

    #instruction-list {
        li {
            grid-template-columns: 20% 80%;
            .instruction-number {
                margin-left: 25px;
            }
        }
    }
}

/*************************************************   LARGE SCREEN MEDIA QUERY   *************************************************/
@media screen and (min-width: 992px) {
    .padding-top {
        padding-top: 150px;
    }

    .food-content {
        .food-name-expiration {
            display: flex;
            width: 60%;
            justify-content: space-between;
        }
    }

    #instruction-list {
        li {
            grid-template-columns: 10% 90%;
        }
    }
}
// @media screen and (min-width: 1440px) {
//     .food-content {
//         .food-name-expiration {
//             width: 25vw;
//         }
//     }
// }